.about-us {
    display: inline-block;
    background: 
        linear-gradient(0deg, rgba(8, 131, 145, 0.5), rgba(8, 131, 145, 0.5)),
        url(../img/paginaWeb2.jpeg) no-repeat;
    margin: 0 2rem 2rem 2rem;
    padding: 40px;
    
    .d-flex {
        @include flex(row, space-between, center, 0px);
    }

    p, span, h2 {
        color: white;
    }

    hr {
        background-color: white;
        width: 1px;
        height: 30em;
    }
}

#about-header {
    font-size: 5em;
    margin-right: 1em;
}

#story {
    margin-right: 1em;
    width: 40em;
}

#values {
    @include flex(column, end, end, 0px);
    text-align: end;

    span {
        font-size: 2em;
    }

    p {
        margin: 0 0 0 1em;
    }

    .value {
        margin-bottom: 2em;
    }
}
