.about-us {

    padding: 50px;
    background: 
        linear-gradient(0deg, rgba(8, 131, 145, 0.65), rgba(8, 131, 145, 0.65)),
        url(../img/paginaWeb2.jpeg);
    color: white;
    margin-bottom: 20px;

    .value {
        font-weight: bold;
        font-size: xx-large;
    }

    .justify-right {
        text-align: right;
    }

    hr {
        width: 3px;
        color: white !important;
        background-color: white !important;
        opacity: 1 !important;
        height: 100%;
    }
}

#about-header {
    font-size: 4em;
}

#values {
    margin-top: auto;
}
