.create-modal {

    padding: 15px;

    input, select {
        margin-bottom: 15px;
    }

    // Create
    button {
        margin-top: 15px;
    }

    // Delete
    .delete {

        text-align: center;

        button {
            width: 70%;
        }
    }



}