.certifications {

    margin-bottom: 20px;

    .col-12 {
        margin-bottom: 20px;
    }

    .row {
        img {
            width: 25%;
            margin: auto;
            -webkit-filter: grayscale(100%) contrast(300%);
            filter: grayscale(100%) contrast(300%);
        }
    }
}