.contact {

    background-color: #f8f9f9;
    margin-bottom: 2rem;

    .first-header {
        color: #00aeef;
        font-size: 3em;
        text-align: center;
    }

    .second-header {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        color: black;
        font-size: 2em;
        text-align: center;
    }

    .address {
        color: #46c4f3;
    }

    .phone {
        font-size: small;
    }

    hr {
        color: #46c4f3;
        background-color: #46c4f3;
        width: 50%;
        height: 1px;
        opacity: 1;
        margin: auto;
    }

    img {
        border-radius: 100%;
        border: 1px solid black;
        width: 35px;
        height: 35px;
        padding: 8px;
    }
}

#main-contact {
    border-left: solid 5px #46c4f3;
}

.partners {

    margin-bottom: 2rem;
    
    h2 {
        font-weight: bold;
    }

    em {
        color: #46c4f3;
    }

    img {
        width: 80%;
        margin: auto;
        border-radius: 10%;
        border-right: 5px solid #46c4f3;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 70%;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    input, textarea {
        padding: 10px;
    }
}