.products {

    margin-bottom: 40px;
    
    .points {
        text-align: end;
    }

    // Product image
    img {
        width: 120px;
        height: 120px;
        object-fit: scale-down;
        mix-blend-mode: multiply;
    }

    // Product icon
    i {
        font-size: 16px;
        color: #e4253b;
    }
    
    .td-center {
        vertical-align: middle;
        text-align: center;
    }

}