.rewards {
    .nav-pills {
        margin-bottom: 60px;
    }
}

// System
.rewards-info {

    margin-bottom: 60px;

    .row {
        margin-bottom: 40px;
    }

    .left {
        border-left: 8px solid #46c4f3;
    }

    .right {
        border-right: 8px solid #46c4f3;
    }
}

// Catalog
.products {

    margin-bottom: 40px;
    
    .points {
        text-align: end;
    }

    // Product image
    img {
        width: 120px;
        height: 120px;
        object-fit: scale-down;
        mix-blend-mode: multiply;
    }

    // Claim button
    button {
        width: 90%;
    }

    // Product icons
    .warning {
        font-size: 24px;
        color: #f0ad4e;
    }
    .danger {
        font-size: 24px;
        color: #d9534f;
    }
    
    .td-center {
        vertical-align: middle;
        text-align: center;
    }

}

// Profile
.profile {

    background: 
        linear-gradient(0deg, rgba(230, 230, 230, 0.75), rgba(230, 230, 230, 0.75)),
        url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    margin: 0 0 40px 0;
    padding: 5em;

    .divider {
        margin-bottom: 20px;
    }

    button {
        width: 60%;
    }

    input {
        width: 60%;
        padding: 6px;
        margin-top: 6px;
        margin-bottom: 20px;
    }
}

// Orders modal
.order-modal {

    padding: 25px;
    text-align: center;

    label {
        font-size: x-large;
        font-weight: 500;
        margin-right: 8px;
        margin-bottom: 25px;
    }

    input {
        padding: 5px;
    }

    button {
        width: 80%;
    }
}
