.rewards {
    .nav-pills {
        margin-bottom: 60px;
    }
}

// System
.rewards-info {

    margin-bottom: 60px;

    img {
        border-radius: 10%;
        border-left: 5px solid #46c4f3;
    }
}

// Catalog
.products {

    margin-bottom: 40px;
    
    .points {
        text-align: end;
    }

    // Product image
    img {
        width: 120px;
        height: 120px;
        object-fit: scale-down;
        mix-blend-mode: multiply;
    }

    // Product icon
    i {
        font-size: 16px;
        color: #e4253b;
    }
    
    .td-center {
        vertical-align: middle;
        text-align: center;
    }

}

// Orders


// Profile
.profile {

    background: 
        linear-gradient(0deg, rgba(176, 176, 176, 0.8), rgba(176, 176, 176, 0.8)),
        url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    margin: 0 0 40px 0;
    padding: 3em;

    .divider {
        margin-bottom: 20px;
    }

    form {
        margin-bottom: 40px;

        button {
            width: 60%;
        }
    }

    input {
        width: 60%;
        padding: 6px;
        margin-top: 6px;
        margin-bottom: 20px;
    }
}
