{% extends "layout.html" %}

{% block title%}Addresses{% endblock %}

{% block content %}

<!-- Create Address Modal -->
<div class="modal" tabindex="-1" id="create">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 id="modal-name" class="mt-0 mb-3"></h4>
        <form id="create-form" action="/create-address" method="POST">
          <div class="form-options">
            <label for="address1c">Address Line 1: </label>
            <input type="text" name="address1c" id="address1c" required autofocus />
            <br>
            <label for="address2c">Address Line 2: </label>
            <input type="text" name="address2c" id="address2c" autofocus />
            <br>
            <label for="cityc">City: </label>
            <input type="text" name="cityc" id="cityc" required autofocus />
            <br>
            <label for="statec">State: </label>
            <input type="text" name="statec" id="statec" required autofocus />
            <br>
            <label for="countryc">Country: </label>
            <input type="text" name="countryc" id="countryc" required autofocus />
            <br>
            <label for="zipc">Zip Code: </label>
            <input type="text" name="zipc" id="zipc" required autofocus />
            <input type="number" name="company_id" id="company_id" required>
          </div>
          <button id="sub-button" type="submit" class="btn btn-dark">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Address Modal -->
<div class="modal" tabindex="-1" id="edit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 id="modal-name" class="mt-0 mb-3"></h4>
        <form id="update-form" action="/update-address" method="POST">
          <div class="form-options">
            <label for="address1">Address Line 1: </label>
            <input type="text" name="address1" id="address1" required autofocus />
            <br>
            <label for="address2">Address Line 2: </label>
            <input type="text" name="address2" id="address2" autofocus />
            <br>
            <label for="city">City: </label>
            <input type="text" name="city" id="city" required autofocus />
            <br>
            <label for="state">State: </label>
            <input type="text" name="state" id="state" required autofocus />
            <br>
            <label for="country">Country: </label>
            <input type="text" name="country" id="country" required autofocus />
            <br>
            <label for="zip">Zip Code: </label>
            <input type="text" name="zip" id="zip" required autofocus />
            <input type="number" name="address-id" id="address-id" required hidden>
            <input type="number" name="c_id" id="c_id" value="{{company_id}}" required hidden>
          </div>
          <button id="sub-button" type="submit" class="btn btn-dark">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="query-header container">
    
      <div class="query-info">
        <button class="btn btn-dark" onclick="createAddress('{{company_id}}')">New Address</button>
        <p><b>Total number of users: </b>{{ addresses|length }}</p>
      </div>
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
          <thead class="table">
            <tr>
              <th>#</th>
              <th>Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(addresses|length) %}
              <tr>
                  <!-- # -->
                  <td>{{ i+1 }}</td>
                  <!-- Address -->
                  <td>{{ addresses[i][1] }} {{addresses[i][2] or ""}}, {{ addresses[i][3] }}, {{ addresses[i][4] }}, {{ addresses[i][5] }}, {{ addresses[i][6] }}</td>
                  <!-- Edit -->
                  <td>
                    <button class="btn btn-light"><i class="bi bi-pencil-fill" onclick="editAddress('{{addresses[i][0]}}', '{{ addresses[i][1] }}','{{addresses[i][2] or ""}}', '{{ addresses[i][3] }}', '{{ addresses[i][4] }}', '{{ addresses[i][5] }}', '{{ addresses[i][6] }}')"></i></button>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </section>

  <script>
    function editAddress(_id, _al1, _al2, _city, _state, _country, _zipcode){
      document.querySelector('#address-id').value = _id;
      document.querySelector('#address1').value = _al1;
      document.querySelector('#address2').value = _al2;
      document.querySelector('#city').value = _city;
      document.querySelector('#state').value = _state;
      document.querySelector('#country').value = _country;
      document.querySelector('#zip').value = _zipcode;
      $("#edit").modal('show');
    }

    function createAddress(ci){
      document.querySelector('#company_id').value = ci;
      $("#create").modal('show');
    }
  </script>

{% endblock %}