{% extends "layout.html" %}

{% block title%}Welcome{% endblock %}
{% block subtitle%}to Mint Cargo Boosting Logistics{% endblock %}


{% block content %}

<!-- Cookies Modal -->
<div class="modal" tabindex="-1" id="cookies">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cookies</h5>
      </div>
      <div class="modal-body">
        <p><b>For your information:</b> our website uses <i>cookies</i> to improve your experience.</p>
      </div>
      <div class="modal-footer">
        <button onclick="acceptCookies()" type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>

<!--Mint Cargo Programs-->
<section class="introduction container">
  <h2 style="margin-top: 0;">Programs</h2>
  <div class="programs">
    <div class="program">
      <h4>Minters Loyalty Program</h4>
      <p> Our rewards programs thanks our customers for their preference. Points are awarded for each shipment, this point may be used to get a variety of products.</p>
    </div>

    <div class="program">
      <h4>Minters Quality Program</h4>
      <p>System that allows us to guarantee that all of our customer's shipments will live up to high standards, minimizing risks that come with the administration of internation transportation.</p>
    </div>

    <div class="program">
      <h4>Minters 24/7</h4>
      <p>We attend your requests 24/7</p>
      <ul>
        <li>Quote Requests</li>
        <li>Shipment Status</li>
        <li>Reception of Instructions</li>
        <li>Tracking</li>
      </ul>
    </div>
  </div>
  <a class="join" href="/contact">Ask to Join</a>
</section>

<!--Certifiations-->
<section class="certifications container" style="margin-top: 100px;">
  <h2>Certifications</h2>
  <div class="">

    <div class="row d-flex">
      <picture class="col-4 col-sm-2">
        <source 
          srcset="{{ url_for('static', filename='img/certificaciones1.webp') }}" 
          type="image/webp">
          <source 
          srcset="{{ url_for('static', filename='img/certificaciones1.png') }}" 
          type="image/png">
        <img src="{{ url_for('static', filename='img/certificaciones1.webp') }}" alt="MFA Logo">
      </picture>
      <picture class="col-4 col-sm-2">
        <source 
          srcset="{{ url_for('static', filename='img/certificaciones2.webp') }}" 
          type="image/webp">
          <source 
          srcset="{{ url_for('static', filename='img/certificaciones2.png') }}" 
          type="image/png">
        <img src="{{ url_for('static', filename='img/certificaciones2.webp') }}" alt="IATA Logo">
      </picture>
      <picture class="col-4 col-sm-2">
        <source 
          srcset="{{ url_for('static', filename='img/certificaciones3.webp') }}" 
          type="image/webp">
          <source 
          srcset="{{ url_for('static', filename='img/certificaciones3.png') }}" 
          type="image/png">
        <img src="{{ url_for('static', filename='img/certificaciones3.webp') }}" alt="Amacarga Logo">
      </picture>
      <picture class="col-4 col-sm-2">
        <source 
          srcset="{{ url_for('static', filename='img/asociacion1.webp') }}" 
          type="image/webp">
          <source 
          srcset="{{ url_for('static', filename='img/asociacion1.png') }}" 
          type="image/png">
        <img src="{{ url_for('static', filename='img/asociacion1.webp') }}" alt="MFA Logo">
      </picture>
      <picture class="col-4 col-sm-2">
        <source 
          srcset="{{ url_for('static', filename='img/asociacion2.webp') }}" 
          type="image/webp">
          <source 
          srcset="{{ url_for('static', filename='img/asociacion2.png') }}" 
          type="image/png">
        <img src="{{ url_for('static', filename='img/asociacion2.webp') }}" alt="IATA Logo">
      </picture>
      <picture class="col-4 col-sm-2">
        <source 
          srcset="{{ url_for('static', filename='img/asociacion3.webp') }}" 
          type="image/webp">
          <source 
          srcset="{{ url_for('static', filename='img/asociacion3.png') }}" 
          type="image/png">
        <img src="{{ url_for('static', filename='img/asociacion3.webp') }}" alt="Amacarga Logo">
      </picture>
    </div>
  </div>
</section>

<!--Cookie Notice-->
<script>
  let cookies = localStorage.getItem("cookies");
  $(window).on('load', function() {
    if (!cookies)
      $("#cookies").modal('show');
  });

  function acceptCookies() {
    localStorage.setItem("cookies", "accepted");
  }
</script>

{% endblock %}