{% extends "layout.html" %}

{% block title%}Rewards{% endblock %}
{% block subtitle%}check your transaction history with us{% endblock %}

{% block content %}

<section class="query-header container">
  {% if orders|length > 0 %}
    <div class="query-info">
      <p><b>Total number of orders: </b>{{ orders|length }}</p>
    </div>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-hover">
        <thead class="table">
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Address</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(orders|length) %}
            <tr>
                <!-- # -->
                <td>{{ i+1 }}</td>
                <!-- Product -->
                <td>{{ orders[i][0] }}</td>
                <!-- Quantity -->
                <td>{{ orders[i][1] }}</td>
                <!-- Date -->
                <td>{{ orders[i][2] }}</td>
                <!-- Address -->
                <td>{{ orders[i][3] }}</td>
                <!-- Status -->
                <td style="text-transform: capitalize;">{{ orders[i][4] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h3>You have no orders yet</h3>
    <p class="text-center">Provided you have enough points, you can claim and order a prize of your choice by clicking the "catalog" menu right above this message</p>
  {% endif %}
</section>

{% endblock %}