{% extends "layout.html" %}

{% block title%}Rewards{% endblock %}
{% block subtitle%}everything about our bonus system!{% endblock %}

{% block content %}

<main class="rewards container">
  <div class="row">
    <div class="nav flex-column nav-pills col-md-4 col-12" id="tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="rules-tab" data-toggle="pill" href="#rules" role="tab" aria-controls="rules" aria-selected="true"><i class="bi-journal"></i>&nbsp;Rules</a>
      <a class="nav-link" id="catalog-tab" data-toggle="pill" href="#catalog" role="tab" aria-controls="catalog" aria-selected="false"><i class="bi-book"></i>&nbsp;Catalog</a>
      <a class="nav-link" id="orders-tab" data-toggle="pill" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="bi-truck"></i>&nbsp;Orders</a>
      <a class="nav-link" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="bi-person-fill"></i>&nbsp;Profile</a>
    </div>
  </div>
  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade show active" id="rules" role="tabpanel" aria-labelledby="system-tab">
      <section class="rewards-info container">
        <div class="row align-items-center">
          <div class="col-md-4 col-12">
            <img class="left" src="https://img.freepik.com/foto-gratis/coleccion-cajas-regalo_1156-851.jpg?w=826&t=st=1669268380~exp=1669268980~hmac=6f368b13277b6a86754b53c34dd26790df66acbbdb9c6ee3f338249486315b86" alt="Gift boxes">
          </div>
          <div class="col-md-8 col-12">
            <h3>How does it work?</h3>
            <p>We are very thankful with you for trusting us and using our services!</p>
            <p>In order to show our appreciation, we will <i>award</i> you with points that can be traded for special products.</p>
            <p>These points will be given to you after each shipment that you order.</p>
            <p>Enjoy!</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-8 col-12">
            <h3>Special Points</h3>
            <p>The points in your possession will expire after some time.</p>
            <p>Be sure to keep an eye on your total amount of points, so that you can claim your rewards!</p>
          </div>
          <div class="col-md-4 col-12">
            <img class="right" src="https://img.freepik.com/vector-gratis/informacion-marketing-empresarial-monedas-hojas_24877-54767.jpg?w=996&t=st=1669329860~exp=1669330460~hmac=98c5a68c5efc48c124ec47642c8596d8efb5c13a627b8890c41bf576127923e0" alt="Points">
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane fade" id="catalog" role="tabpanel" aria-labelledby="catalog-tab">
      <section class="products container">
        {% if products|length > 0 %}
          <div class="points">
            <p><b>{{ session.name }}</b> points: {{ session.points }}</p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="table-dark">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Description</th>
                  <th class="td-center">Cost</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                  <tr>
                      <!-- img -->
                      <td class="td-center">
                        <img src="{{ product[3] }}" alt="Product Image">
                      </td>
                      <!-- Name -->
                      <td>{{ product[1] }}</td>
                      <!-- Desc -->
                      <td>{{ product[2] }}</td>
                      <!-- Cost -->
                      <td class="td-center">{{ product[4] }} points</td>
                      <!-- Claim -->
                      <td class="td-center">
                        {% if product[5][-1] == 1 and points >= product[4] %}
                          <button type="button" class="btn btn-dark">Claim</button>
                        {% elif points < product[4] %}
                          <i class="bi-cash-coin warning"></i>
                          <span>Not enough</span>
                        {% else %}
                          <i class="bi-x-lg danger"></i>
                          <span>Unavailable</span>
                        {% endif %}
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <h3>An error ocurred trying to retrieve our catalog...</h3>
          <p class="text-center">Please, try again later</p>
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
      <section class="orders container">
        {% if orders|length > 0 %}
          <div class="orders">
            <p><b>Total number of orders: </b>{{ orders|length }}</p>
          </div>
          <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
              <thead class="table">
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Address</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(orders|length) %}
                  <tr>
                      <!-- # -->
                      <td>{{ i+1 }}</td>
                      <!-- Date -->
                      <td>{{ orders[i][0] }}</td>
                      <!-- Address -->
                      <td>{{ orders[i][1] }}</td>
                      <!-- Total -->
                      <td>{{ orders[i][2] }} points</td>
                      <!-- Status -->
                      <td style="text-transform: capitalize;">{{ orders[i][3] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <h3>You have no orders yet</h3>
          <p class="text-center">Provided you have enough points, you can claim and order a prize of your choice by clicking the "catalog" menu right above this message</p>
        {% endif %}
      </section>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <section class="profile container">
        <div class="row align-items-center">
          <div class="col-md-6 col-12">
            <form action="/update-user" method="POST" onsubmit="return confirm('Do you really want to update your credentials?')">
              <h4>Username</h4>
              <input type="text" name="username" value="{{ session.user }}" placeholder="example321" required />
              <br>
              <h4>Password</h4>
              <input type="password" name="password" placeholder="********" required />
              <br>
              <button type="submit" class="btn btn-dark btn-lg">Update</button>
            </form>
          </div>
          <div class="col-md-6 col-12">
            <div class="divider">
              <h4>Company Name</h4>
              <p>{{ session.name }}</p>
            </div>
            <div class="divider">
              <h4>Address(es)</h4>
              {% if addresses|length > 0 %}
                <ul>
                  {% for address in addresses %}
                    <li>{{ address[1] }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p>There are no addresses for this company.</p>
              {% endif %}
            </div>
            <div class="divider">
              <h4>Points</h4>
              <p>{{ session.points }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

{% endblock %}