{% extends "layout.html" %}

{% block title%}Rewards{% endblock %}
{% block subtitle%}everything about our bonus system!{% endblock %}

{% block content %}

<section class="rewards-info container">
  <div class="row align-items-center">
    <div class="col-md-4 col-12">
      <img class="left" src="https://img.freepik.com/foto-gratis/coleccion-cajas-regalo_1156-851.jpg?w=826&t=st=1669268380~exp=1669268980~hmac=6f368b13277b6a86754b53c34dd26790df66acbbdb9c6ee3f338249486315b86" alt="Gift boxes">
    </div>
    <div class="col-md-8 col-12">
      <h3>How does it work?</h3>
      <p>We are very thankful with you for trusting us and using our services!</p>
      <p>In order to show our appreciation, we will <i>award</i> you with points that can be traded for special products.</p>
      <p>These points will be given to you after each shipment that you order.</p>
      <p>Enjoy!</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-8 col-12">
      <h3>Special Points</h3>
      <p>The points in your possession will expire after some time.</p>
      <p>Be sure to keep an eye on your total amount of points, so that you can claim your rewards!</p>
    </div>
    <div class="col-md-4 col-12">
      <img class="right" src="https://img.freepik.com/vector-gratis/informacion-marketing-empresarial-monedas-hojas_24877-54767.jpg?w=996&t=st=1669329860~exp=1669330460~hmac=98c5a68c5efc48c124ec47642c8596d8efb5c13a627b8890c41bf576127923e0" alt="Points">
    </div>
  </div>
</section>

{% endblock %}