{% extends "layout.html" %}

{% block title%}Users{% endblock %}

{% block content %}

<section class="query-header container">
    {% if users|length > 0 %}
      <div class="query-info">
        <p><b>Total number of users: </b>{{ users|length }}</p>
      </div>
      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
          <thead class="table">
            <tr>
              <th>#</th>
              <th>Company</th>
              <th>Username</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(users|length) %}
              <tr>
                  <!-- # -->
                  <td>{{ i+1 }}</td>
                  <!-- Product -->
                  <td>{{ users[i][0] }}</td>
                  <!-- Quantity -->
                  <td>{{ users[i][1] }}</td>
                  <!-- Date -->
                  <td>{{ users[i][2] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <h3>There are no active users</h3>
    {% endif %}
  </section>

{% endblock %}