/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgColor, $display) {
    background-color: $bgColor;
    color: $white;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc($spacing / 2);
    display: $display;
    border: none;

    &:hover {
        background-color: darken($bgColor, 5);
        color: $white;
        cursor: pointer;
    }
}

@mixin flex($direction, $justification, $alignment, $space) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justification;
    align-items: $alignment;
    gap: $space;
}