//Fonts
$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$white: #FFFFFF;
$gay: #e1e1e1;

$spacing: 5rem;

// Fuentes
$light: 300;
$regular : 400;
$bold: 700;
$black: 900