.no-webp .start {
    background-image: url(../img/paginaWeb1.png);
}

.webp .start {
    background-image: url(../img/paginaWeb1.webp);
}

.header {

    &.start {
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 70rem;
        }
    }

    .header-content {
        @include tablet {
            min-height: 70rem;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 30%;
        padding: 2rem 0;
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2rem;

        img {
            width: 20rem;
            padding: 0;
        }
    }
}

.header-content {
    display: flex;
    flex-direction: column;

    @include tablet {
        gap: 30rem;
        h1 {
            text-align: left;
        }
    }
}