.no-webp .start {
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.25)),
        url(../img/paginaWeb1.png) no-repeat;
}

.webp .start {
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.25)),
        url(../img/paginaWeb1.webp) no-repeat;
}

.header {
    &.start {
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 60rem;
        }
    }
}

.barra {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

    @include tablet {
        flex-direction: row;
    }

    // Logo
    img {
        width: 20rem;
        padding: 0;
        margin-bottom: 20px;
        filter: drop-shadow(5px 0 0 white) 
                drop-shadow(0 5px 0 white)
                drop-shadow(-5px 0 0 white) 
                drop-shadow(0 -5px 0 white);
    }

    // Icon (phone and tablet)
    button {
        background-color: #212529;
    }
    i {
        font-size: 24px;
        color: white;
    }

}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include tablet {
        gap: 30rem !important;
    }

    h1, h3 {
        text-align: left;
    }
    h1 {
        font-weight: bold;
    }
    h3 {
        color: $mint;
    }
}