.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        margin-right: 2rem;
        color: $white;
        font-weight: $bold;
    }

    a:hover{
        color: black;
        text-decoration: underline;
    }

    @include tablet {
        flex-direction: row;
    }
}