.query-header {

    margin-bottom: 40px;
    
    .td-center {
        vertical-align: middle;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }
}

.query-info {
    text-align: end;
}